/* ============================================= */
/*              Variables                        */
/* ============================================= */

$lightblue: #51ddfc;
$watermelon: #e4757a;
$eggplant: #927bc1;
$limegreen: #63cc82;
$phoenix: #fd7856;

// Media Query Breakpooints //

$small-br: '(max-width:768px)';