/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $lightblue;
  }
  
  .error {
    background-color: $watermelon;
  }
  
  .info {
    background-color: $eggplant;
  }
  
  .success {
    background-color: $limegreen;
  }
  
  .warning {
    background-color: $phoenix;
  }